.view-content {
    width: 100%;
    height:100%;
    position: absolute;
    .element-list {
        position: absolute;
        top: 0;
        text-align: left;
        width: 320px;
        height: 486px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .element {
            color: #676767;
            line-height: 1;
            background: none;
            list-style: none!important;
            margin: 0!important;
            padding: 0;
            transition: padding .5s;
            min-height: 1px;
            min-width: 1px;
            position:absolute;
            .box1 {
                overflow: hidden;
            }
            * {
                box-sizing: border-box;
            }
            .box2 {
                line-height: inherit;
                margin: 0;
                width: 100%;
                height: 100%;
                word-wrap: break-word;
            }
        }
    }

}