body,html {
    height: 100%;
    margin: 0px;
}
.lin-partent {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    overflow: hidden;
    .lin {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .view-content {
        border: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: top;
        background-size: cover;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        z-index: 0;
        display: none;
        -webkit-transform-origin: center center;
        background: #f3f3f3;
    }
    .activePage {
        z-index: 1;
        display: block
    }
}
